.DS_Store
.vs
.suo

.o
.o.d
.swp

Library
Temp
UnityVS
AssetStoreTools
obj/*
/Assets/AssetStoreTools.meta
/Assets/UnityVS.meta
/Assets/Slua/LuaObject
/Assets/Slua/LuaObject.meta
/ProjectSettings
/*.csproj
/*.sln
